<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar_Oferta</title>
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>

    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link rel="stylesheet" th:href="@{/css/ofertaProductos.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>
<body>
<div class="contenedor" id="contenedor">
    <div class="header" th:insert="~{Fragments/navbar.html}"></div>
    <div class="menu" th:insert="~{Fragments/menu.html}"></div>

    <div class="contenido">
        <form th:action="@{'/Productos_Descuento/' + ${descuento.producto.id} + '/Descuentos/' + ${descuento.id} + '/Actualizar_Descuento'}" method="POST">
            <h2 class="titulo" th:text="'Editar oferta de ' + ${descuento.producto.nombre}"></h2>
            <div class="ofertaProductos">
                <div class="formulario">
                    <div class="item-form">
                        <label class="texto" for="descuento">Descuento </label>
                        <input type="number" name="descuento" id="descuento" min="1" max="100" oninput="validity.valid||(value='');" th:value="${descuento.descuento}" required>
                    </div>
                    <div class="item-form">
                        <label class="texto" for="envio">Envio Gratis?</label>
                        <select name="envio" id="envio" required>
                            <option th:value="false" th:selected="${descuento.envioGratis == false}">No</option>
                            <option th:value="true" th:selected="${descuento.envioGratis == true}">Sí</option>
                        </select>
                    </div>

                    <div class="item-form">
                        <label class="texto" for="fechaInicio">Inicio</label>
                        <input type="date" name="fechaInicio" id="fechaInicio" th:value="${descuento.inicio}" required>
                    </div>
                    <div class="item-form">
                        <label class="texto" for="fechaFin">Fin</label>
                        <input type="date" name="fechaFin" id="fechaFin" th:value="${descuento.fin}" required>
                    </div>
                </div>

            </div>

            <div class="botones">
                <button id="agregatBtn"> Actualizar Oferta</button>
            </div>
        </form>

    </div>
</div>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>