<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Producto</title>
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link rel="stylesheet" th:href="@{/css/agregarproducto2.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>

</head>

<body>
    <div class="contenedor" id="contenedor">
        <div class="header" th:insert="~{Fragments/navbar.html}"></div>
        <div class="menu" th:insert="~{Fragments/menu.html}"></div>
        <div class="contenido">
            <h2>Catálogo</h2>
            <form th:action="@{'/Productos/' + ${producto.id} + '/Actualizar_Producto'}" method="POST" enctype="multipart/form-data">
            <div class="poteMayor">
                <label for="categoria">Producto:</label>
            </div>
            <div class="item">
                <div class="yoto">
                <label for="nombre-producto">Nombre del producto:</label></div>
                <input type="text" name="nombre" id="nombre-producto"  th:value="${producto.nombre}" required>
            </div>
            <div class="item">
                <div class="yoto">
                <label for="Descripción">Descripción:</label></div>
                <input type="text" name="descripcion" id="Descripción" th:value="${producto.descripcion}" required>
            </div>
            <div class="item">
                <div class="yoto">
                    <label for="categoria">Categoria:</label>
                </div>
                <div class="custom-select">
                    <select name="categoria" id="categoria" class="categoria-select" required>
                        <option  value="" >Selecciona una</option>
                        <!-- Iterar sobre la lista de categorias -->
                        <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}" th:selected="${producto.categoria.id == categoria.id}"></option>

                    </select>
                </div>
            </div>


            <div class="item">
                <div class="yoto">
                <label for="precio">Precio:</label></div>
                <input type="number" name="precio" id="precio-categoria" th:value="${producto.precio}" required>
            
            </div>
            <div class="item">
                <div class="yoto">
                <label for="unidades">Unidades:</label></div>
                <input type="number" name="unidades" id="unidades-producto" th:value="${producto.unidades}" required>
            
            </div>
                <div class="info">
                    <label for="imagenPrincipal">Imagen principal:</label>
                    <input type="file" id="imagenPrincipal" name="imagenPrincipal" style="display: inline-block;" accept="image/*">
                </div>



                <div class="info">
                <button type=submit class="lastboton">Actualizar Producto</button>
            </div>
            </form>


        </div>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>